.view-articles {

    .view-content {
        display: flex;
        gap: 1em;
        flex-flow: column wrap;
        align-content: space-between;
        max-height: 1800px; /* 4 rows of 440px height each */

        & > * {
            width: 300px;
            box-sizing: border-box;

            &:nth-child(3n+1) { 
                order: 1;
            } 
            &:nth-child(3n+2) {
                order: 2;
            } 
            &:nth-child(3n) {
                order: 3;
            }
        }
    }
} 